<!--$ npm install @fortawesome/fontawesome-svg-core
$ npm install @fortawesome/free-solid-svg-icons
# See Compatibility table below to choose a correct version
$ npm install @fortawesome/angular-fontawesome@<version>
    
tambien en los modulos de la app
import { FontAwesomeModule } from '@fortawesome/angular-fontawesome';
-->
<div class="row">
    <div class="col">
        <div class="col fa-5x text-center animated fadeIn">
            <fa-icon [icon]="fuenteRefresh" [spin]="true"></fa-icon>
        </div>
    </div>
</div>