<div class="row row-cols-1 row-cols-md-3 g-4 m-5 text-center animated fadeIn puntero">
    <div (click)="verArtista(item)" class="col" *ngFor="let item of items">
        <div class="card h-100 fadeIn fast">
            <img [src]="item.images | noimage" class="card-img-top" alt="item.name">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">
                    <span *ngFor="let artista of item.artists" class="badge text-bg-primary">{{artista.name}}</span>
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>

            </div>
        </div>
    </div>
</div>